# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
*.spec

# OS spezifisch
.DS_Store
.directory
*.swp

# AppLinker spezifisch
/tmp/squashfs-root/

# JetBrains
.idea/

# Temporärer Ordner für linuxdeploy
AppDir/

# Die fertigen AppImages (große Binärdateien)
*.AppImage

# Das heruntergeladene Tool selbst
linuxdeploy-x86_64.AppImage